<h2>All the pro MLG 1337 n00bs</h2>
  <% if notice %>
  <p id="notice"><%= notice %></p>
  <% end %>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Sure bout that?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'N00b sign up', new_user_path %>
