<div>
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> pwned this n00b, save fail:</h2>
  
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <fieldset>
      <legend>Upload video</legend>
      
      <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :description %><br />
        <%= f.text_area :description %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    </fieldset>
  <% end %>
</div>
